XLR_AZURE_CONNECTION_STRING=CONNECTION_STRING_HERE
XLR_BLOB_PATH_ROOT=abfss://CONTAINER/

XLR_SMTP_SERVER=SMTP_SERVER_HERE
XLR_SMTP_PORT=587
XLR_SMTP_SENDER_LOGIN=YOUR_LOGIN_HERE
XLR_SMTP_SENDER_PASSWORD=YOUR_PASSWORD_HERE
